{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ game.name }} Map</title>
    <link rel="stylesheet" href="{% static 'hexquest/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'hexquest/css/game_map.css' %}">
</head>
<body>
<header>
    <h1>{{ game.name }}</h1>
    <div class="meta">
        Turn {{ game.current_turn }} |
        Size {{ game.width }}x{{ game.height }} |
        Seed {{ game.seed }}
    </div>
</header>

<div class="map-wrap">
    <svg
        id="map"
        width="{{ game.width|add:game.height|add:10 }}00"
        height="{{ game.height|add:10 }}80"
        xmlns="http://www.w3.org/2000/svg"
    >
        {% for hex in hexes %}
            <g
                class="hex-group"
                data-q="{{ hex.q }}"
                data-r="{{ hex.r }}"
                data-terrain="{{ hex.terrain }}"
                data-owner="{% if hex.owner %}{{ hex.owner.name }}{% endif %}"
                data-owner-color="{% if hex.owner %}{{ hex.owner.color }}{% endif %}"
            ></g>
        {% endfor %}

        {% for unit in game.units.all %}
            <g
                class="unit-group"
                data-q="{{ unit.q }}"
                data-r="{{ unit.r }}"
                data-color="{{ unit.nation.color }}"
                data-label="{{ unit.unit_type|slice:':1'|upper }}"
            ></g>
        {% endfor %}
    </svg>
</div>

<script src="{% static 'hexquest/js/game_map.js' %}"></script>
</body>
</html>
